/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/roboto-v30-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {
    width: 1600px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;



    color: #212121;


}

/* Header start */

.header {

    height: 80px;
    margin: 0 auto;

}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;



}

.main_menu_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}


.main_menu_list-item:last-child {
    /* last item margin-right */
    margin-right: 331px;
}

.main_menu_list-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    margin-right: 50px;

}

.main_menu_list-link:hover,.main_menu_list-link:focus,.main_menu_list-link:active{
    color: #2196F3;
    text-decoration: underline;
}

.logo {
    margin-left: 215px;
    margin-right: 93px;
    
}


.email-link {
    margin-right: 50px;
    margin-left: 331px;
    color: #212121;
    text-decoration: none;
    font-weight: 400;
}

.email-link:hover,.email-link:focus,.email-link:active{
    color: #2196F3;
    text-decoration: underline;
}

.phone-link {
    color: #757575;
    text-decoration: none;
}

.phone-link:hover,.phone-link:focus,.phone-link:active{
    color: #2196F3;
    text-decoration: underline;
}

/* Header end */