/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/roboto-v30-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


body {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    margin: 0;

    color: #212121;


}


.conteiner {

    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1600px;

}

/* Header start */


.header_wrapper {

    min-width: 1600px;
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}


.main_menu_list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

}


.main_menu_list-item:last-child {
    /* last item margin-right */
    margin-right: 331px;
}

.main_menu_list-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    margin-right: 50px;

}

.main_menu_list-link:hover,
.main_menu_list-link:focus,
.main_menu_list-link:active {
    color: #2196F3;
    text-decoration: underline;
}

.logo {
    margin-left: 215px;
    margin-right: 93px;

}


.email-link {
    margin-right: 50px;
    margin-left: 331px;
    color: #212121;
    text-decoration: none;
    font-weight: 400;
}

.email-link:hover,
.email-link:focus,
.email-link:active {
    color: #2196F3;
    text-decoration: underline;
}

.phone-link {
    color: #757575;
    text-decoration: none;
}

.phone-link:hover,
.phone-link:focus,
.phone-link:active {
    color: #2196F3;
    text-decoration: underline;
}

/* Header end */

/* Main start */

.main {
    margin: 0 auto;

}

.order_wrapper {
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
    border: 1px solid black;

    margin-bottom: 94px;
}


.order_block {
    margin-left: 452px;
    margin-top: 200px;



}

.order_h1 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

    max-width: 696px;

    margin-bottom: 30px;
    /* background-color: antiquewhite; */

}

.order_button {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background: #2196F3;
    border: 0;
    border-radius: 4px;
    margin-left: 700px;

    max-width: 200px;


}

.order_button:hover,
.order_button:active,
.order_button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: #1185e3;

}

/* Peculiarities */
.peculiarities {

    min-width: 1170px;
    min-height: 101px;
    margin-left: 215px;
    margin-right: 215px;
    /* background-color: antiquewhite; */

}

.peculiarities_list {
    display: flex;
    flex-wrap: inherit;
    margin-right: 30px;


}

.peculiarities_list:last-child {
    margin-right: 0;
}

h3.peculiarities_h3 {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
    /* background-color: #2196F3; */
}


p.peculiarities_p {
    width: 270px;
    margin-right: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;
    /* background-color: aquamarine; */
}

/* What_are_we_doing */
.what_are_we_doing {
    min-width: 1600px;
    /* min-height: 648px; */
}

.what_are_we_doing-div {
    min-width: 1170px;
    min-height: 386px;

    margin-left: 215px;
    margin-right: 215px;
    /* background-color: aquamarine; */
    /* margin-bottom: 94px; */
}

h2.what_are_we_doing_h2 {
    padding: 94px 612px 50px 612px;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;


    color: #212121;

}


img.what_are_we_doing-td {
    margin-right: 30px;
}

/* Our team */

.our_team {
    min-width: 1600px;
    min-height: 648px;
    background: #F5F4FA;

}

.our_team_box {
    padding: 94px 668px 50px 668px;

}

h2.our_team_h2 {
    /* padding: 94px 668px 50px 668px; */
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 50px;

    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;


    color: #212121;
}

.photo_team {
    padding-left: 215px;
    padding-right: 215px;
    height: 368px;



}

.people_cards {
    display: flex;
    flex-direction: row;

}

.person {
    margin-right: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.person:last-child {
    margin-right: 0px;
}

.person_img {
    width: 270px;
    height: 260px;

}

.person h3 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

    /* font-weight: bold; */
    color: #212121;
}

.person p {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
}

/* Main end */